DATABASE_URL=postgresql+asyncpg://postgres:postgres@auth_db:5432/auth_db
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
JWT_SECRET_KEY=supersecretkey
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
NOTIFICATION_SERVICE_URL=http://notification_service:8000
NOTIFICATION_SERVICE_USERNAME=auth_service
NOTIFICATION_SERVICE_PASSWORD=auth-secret
SERVICE_CREDENTIALS=transport_service:transport-secret,reservation_service:reservation-secret,search_service:search-secret,notification_service:notification-secret
