DATABASE_URL=postgresql+asyncpg://postgres:postgres@notification_db:5432/notification_db
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
OTP_EXPIRE_MINUTES=5
SERVICE_CREDENTIALS=auth_service:auth-secret
