DATABASE_URL=postgresql+asyncpg://postgres:postgres@search_db:5432/search_db
TRANSPORT_SERVICE_URL=http://transport_service:8000
TRANSPORT_SERVICE_USERNAME=search_service
TRANSPORT_SERVICE_PASSWORD=search-secret
